.header {
    padding: 0 16px;
}

.header_white {
    background-color: var(--white);
}

.header__header-menu {
    margin: 25px auto;
}

.header__title {
    margin: 40px auto;
}

.header__burger-icon {
    width: 24px;
    height: 24px;
}

.header__burger-button {
    display: none;
    position: absolute;
    border: none;
    background: none;
    padding: 0;
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
}

@media (max-width: 768px) {
    .header__header-menu {
        margin: 17px auto;
    }

    .header__title {
        margin: 49px auto;
    }

    .header__burger-button {
        display: block;
    }
}